/* ====== Google Fonts DM Sans======*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oleo+Script:wght@400;700&display=swap");
/* ====== Google Fonts Inter ====== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: black;
  --white: white;
}

body {
  background: black;
  color: var(--white);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.rounded-25 {
  border-radius: 25px;
}
/* Fonts Custom Classes */
.font-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--white);
}

/* Color Classes */
.cpurple {
  color: #ff69b4;
}
nav {
  font-family: "DM Sans", sans-serif;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1320px;
  margin: 0px !important;
  margin: 0 auto;
  z-index: 99;
}
nav .navbar-brand:hover {
  color: #ff69b4 !important;
}
nav.bg-dark {
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-dark .navbar-nav .nav-link:nth-child(-n + 4) {
  color: var(--white) !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff69b4 !important;
}
#resume {
  color: black !important;
  background: white !important;
}

#resume:hover {
  background: transparent !important;
  border: 1px solid #ff69b4;
  color: #ff69b4 !important;
}

/* Hero Section */
.hero-section {
  margin-top: 70px;
  font-family: "Inter", sans-serif;
}
.hero-section h2 {
  font-size: 11vw;
  font-weight: 700;
}

.hero-section .svgs-icons img {
  width: 150px;
}

.work-item {
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
  transition: all 0.3s ease-in-out; /* Smooth transitions */
}

.work-main {
  height: 440px;
  object-fit: cover;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.work-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
  cursor: pointer;
}

.work-main .circle {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  visibility: hidden; /* Hide initially */
}

.work-item:hover .work-main img {
  transform: scale(1.1); /* Zoom in image and scale text on hover */
}

.work-item:hover .circle {
  transform: rotate(-45deg); /* Rotate circle on hover */
  visibility: visible; /* Show circle on hover */
}
.work-item:hover .circle svg {
  color: black;
  width: 40px;
}
.text-container {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.text-top {
  display: block;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.text-bottom {
  display: block;
  opacity: 0; /* Start hidden */
  transform: translateY(40px); /* Start slightly below */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.work-item:hover .text-top {
  transform: translateY(-40px); /* Move up on hover */
  opacity: 0; /* Optional: Change opacity */
}

.work-item:hover .text-bottom {
  opacity: 1; /* Make visible on hover */
  transform: translateY(-20px); /* Move into view on hover */
}
.work-info svg {
  width: 20px;
}

/* ==========About us========= */
.about-us {
  font-family: "DM Sans", sans-serif;
}
.about-us h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
}
.about-us p {
  font-size: 24px;
  line-height: 36px;
  font-family: 500;
  color: rgb(136, 136, 136);
}

/* ======= Footer====== */

footer p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
footer ul li a {
  color: var(--white);
}

footer ul li a:hover {
  color: #ff69b4;
}
#boxes h2 {
  font-family: "DM Sans", sans-serif;
}

/* city circle============================ */
.phone-image {
  max-width: 100%;
  border-radius: 20px;
}
.phone-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}
.screen-image {
  max-width: 100%;
  border-radius: 20px;
}
.screen-image img {
  display: block;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}
.content-section {
  font-family: "DM Sans", sans-serif;
}
.font-52 {
  font-size: 56px;
  font-weight: 500;
  line-height: 73px;
}
.font-32 {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;
  color: rgb(255, 255, 255);
}
.font-24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  font-style: normal;
  color: rgb(255, 255, 255);
}
.font-16 {
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 22px;
}
.font-16-1 {
  color: rgb(128, 128, 128);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* kitty care========================== */
.kitty-care {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kitty-care img {
  width: 90%;
}

.care4 {
  width: 80%;
}
.work-heading h3 {
  font-size: 71px;
  line-height: 85px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.work-heading span {
  font-size: 71px;
  line-height: 85px;
  font-weight: 400;
  font-family: sans-serif;
  color: #d1d1d1;
}
#typed-words:hover {
  color: #ff69b4;
  cursor: pointer;
}

svg {
  cursor: pointer;
}

.research-image {
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0px 0px 5px #eeee;
  cursor: pointer;
}
.GreenSubheader {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.4em !important;
  letter-spacing: 0px;
  color: #a5b038 !important;
  font-weight: 500;
  border-bottom: 0px solid #e39a2e;
}
.YellowSubheader {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.4em !important;
  letter-spacing: 0px;
  color: #f1a01f !important;
  font-weight: 500;
  border-bottom: 0px solid #ff69b4;
}
.OrangeSubheader {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.4em !important;
  letter-spacing: 0px;
  color: #ff69b4 !important;
  border-bottom: 0px solid #e39a2e;
}
.PCBlueSubheader {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.4em !important;
  letter-spacing: 0px;
  color: #1395d3 !important;
  font-weight: 700 !important;
  border-bottom: 0px solid #e39a2e !important;
}
.card-item-yellow {
  color: #f1a01f;
  position: relative;
  width: 100%;
}

.timeline-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #436285 !important;
  position: relative;
}
.timeline-card-last {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #436285 !important;
  position: relative;
}

.timeline:before {
}
.timeline-card::before {
  content: "";
  width: 0.18rem;
  height: 100%;
  background: #dfdfdf;
  position: absolute;
  left: 8.3px;
  z-index: -1;
}
.timeline-card:first-of-type::before {
  content: "";
  width: 0.18rem;
  height: 100%;
  background: #dfdfdf;
  position: absolute;
  left: 8.3px;
  top: 0%;
  z-index: -1;
}
.last-card-item::before {
  content: "";
  width: 0.18rem;
  height: 0%;
  background: #dfdfdf;
  position: absolute;
  left: 8.3px;
  bottom: 50%;
  z-index: -1;
}
.circle-custom {
  font-size: 0.5rem !important;
}
.timeline-item {
  display: grid;
  align-items: center;
  gap: 0.5em;
  align-content: center;
  justify-items: start;
  justify-content: space-between;
  grid-template-columns: 5% 1fr;
}
.main-icon {
  margin-right: 0.1em;
  font-size: 2.45rem !important;
}
.card-item-orange {
  color: #f26723;
  position: relative;
  width: 100%;
}

.card-item-pcblue {
  color: #1395d3;
  position: relative;
  width: 100%;
}

.card-item-green {
  color: #a5b038;
  position: relative;
  width: 100%;
}

/* 
.timeline::after {
content: "";
position: absolute;
height: 500px;
width: 3px;
background-color: #d5d5d5;
top: 6.1%;
z-index: -1;
} */
.subcard {
  position: relative;
  padding: 1.5em;
  background: #000000;
  color: rgb(253, 253, 253);
  width: -webkit-fill-available;
  min-height: 3.3rem;
  font-family: "DM Sans", sans-serif;
}

.timeline {
  display: block !important;
}

.subcard {
  position: static !important;
  display: block;
}
.circle-custom i {
  color: #ff69b4;
}
#sresearch {
  font-size: 71px;
  line-height: 85px;
  font-weight: 700;
  font-family: sans-serif;
}
#sresearch span {
  font-weight: 400;
}
@media (max-width: 1125px) {
  .timeline-item {
    grid-template-columns: 8% 1fr;
  }
}
@media (max-width: 850px) {
  .timeline-item {
    grid-template-columns: 8% 1fr;
  }
}

@media (max-width: 800px) {
  .timeline-item {
    grid-template-columns: 1fr;
  }
  .timeline-item .main-icon {
    margin: 0 auto;
  }

  .timeline-card::before {
    display: none;
  }
  .fa.fas.fa-circle.fa-stack-2x {
    display: none;
  }
  .timeline-item img {
    width: 100% !important;
  }
}
